/* bebas-neue-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../font/bebas-neue-v10-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* GLOBAL STYLE START */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Bebas Neue";
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.container {
  width: 100%;
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: auto;
  margin-left: auto;
}
/* GLOBAL STYLE END */

.wrapper {
  display: flex;
  flex-grow: 1;
}

.main__top {
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/left-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__top__wrapper {
  max-width: 285px;
  width: 100%;
  align-items: flex-start;
}

.main__top__title {
  color: #ffffff;
  font-family: "Bebas Neue";
  font-size: 24px;
  line-height: 2.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 285px;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

.main__top__button {
  /* color */
  background-color: #1e90ff;
  color: #ffffff;

  border: none;
  gap: 12px;

  font-family: "Bebas Neue";
  display: flex;
  padding: 1.2rem 2.4rem;
  align-items: center;
  letter-spacing: 2px;
}
.main__top__button:hover {
  opacity: 0.8;
  transition: 0.3s;
  cursor: grab;
}

.main__top__button:active {
  opacity: 0.6;
  cursor: grabbing;
}

.main__right__wrapper {
  width: 50%;
  padding: 54px;
}

.main__right__title {
  /* color */
  color: #222222;

  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 2px;
  margin-bottom: 24px;
}

.main__right__line {
  border: 1px solid #999999;

  width: 492px;
  margin-bottom: 24px;
}

.main__right__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}

.main__right__item {
  display: flex;
  margin-bottom: 10px;
}

.main__right__item-img {
  border-radius: 4px;
}

.main__right__item-content {
  padding: 16px;
}

.main__right__item__title {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 2px;
  color: #222222;
  margin-bottom: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.main__right__item__title:hover {
  color: #1e90ff;
}

.main__right__item__title:active {
  opacity: 0.6;
}

.main__right__item-time {
  display: flex;
  align-items: center;
  gap: 24px;
}

.main__right__item-time span {
  display: flex;
  align-items: center;
  color: #888888;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  font-family: "Bebas Neue";
}

.main__right__item-time span img {
  margin-right: 4px;
}

.main__bottom__btn {
  background-color: #1e90ff;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  font-family: "Bebas Neue";
  transition: 0.3s;
  cursor: pointer;
}

.main__bottom__btn:hover {
  opacity: 0.8;
  cursor: grab;
}

.main__bottom__btn:active {
  opacity: 0.6;
  cursor: grabbing;
}
